@model Seqrus.Web.ViewModels.ResetPasswordModel

@{
    ViewData["Title"] = "Forgot password?";
}

<h2>Reset password</h2>

<div class="container seq-form">
    <form asp-action="ResetPassword">
        <div class="form-group">
            <label for="@nameof(Model.Username)">Username</label>
            <input type="text" class="form-control" id="@nameof(Model.Username)" name="@nameof(Model.Username)" placeholder="Username" value="@Model.Username" />
        </div>
        <div class="form-group">
            <label for="@nameof(Model.SecretAnswer)">What was the job of of your mother's siblings first pet?</label>
            <input class="form-control" id="@nameof(Model.SecretAnswer)" name="@nameof(Model.SecretAnswer)" placeholder="Freemason" />
        </div>
        <div class="form-group">
            <label for="@nameof(Model.NewPassword)">New password</label>
            <input type="password" class="form-control" id="@nameof(Model.NewPassword)" name="@nameof(Model.NewPassword)" placeholder="Password" />
        </div>

        <button type="submit" class="btn btn-default">Log in</button>

        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @Model.Message
            </div>
        }
    </form>
</div>